
<div class="row About">
  <div class="col-md-10 col-md-offset-1">
      <a href="#!/"><h1>About</h1></a>
      <div class="aboutContent">
       <p>Sorrel began her software development career in 2016, studying at Nashville Software School.  Prior to software development, Sorrel has worked in the music and audiobook industry as an audio engineer.</p>
       <p>When she's away from the keyboard, she loves traveling, hiking, cooking, spending time with her family and church community, and drinking tea.</p>
     </div>
  </div>
</div>
<div class="row">
  <div class="col-md-10 col-md-offset-1 Projects">
     <a href="#!/projects"><h1>Projects</h1></a>
  </div>
</div>
<div class="row">
  <div class="col-md-10 col-md-offset-1 Technologies">
     <a href="#!/tech"><h1>Technologies</h1></a>
  </div>
</div>
<div class="row">
  <div class="col-md-10 col-md-offset-1">
   <a href="#!/connect"><h1>Connect!</h1></a>
  </div>
</div>
