
<div class="row About">
  <div class="col-md-10 col-md-offset-1">
      <a href="#!/"><h1>About</h1></a>
      <div class="aboutContent">
       <p>I have always loved problem solving. As a child I was part of “Future Problem Solvers” (a scholastic competition where teams brain-storm potential issues and solutions for given hypothetical scenarios). Later, as an audio engineer, I was consistently taking the given equipment at the studio and reconstructing it in a way that met clients' needs. I loved the variety and challenge of using the same pieces to create different systems as a whole. I enjoyed the work, however after 5 years, I felt I had reached the industry's ceiling in professional growth and learning opportunities, and I wanted a new challenge.</p>

      <p>After watching from the sidelines for almost a year as my husband was learning Swift, I decided dip my toe in the development waters by learning JavaScript. Once I started to really delve into coding, I began to understand that development is primarily the focus of seeking out solutions. Not only is building software solving problems, but some of the answers software provides can profoundly impact society. I look forward to meeting new challenges, and finding new ways to solve them, as I continue in my career</p>


       <p>When I'm away from the keyboard, I love traveling, hiking, cooking, spending time with my family and church community, and drinking tea.</p>
     </div>
  </div>
</div>
<div class="row">
  <div class="col-md-10 col-md-offset-1 Projects">
     <a href="#!/projects"><h1>Projects</h1></a>
  </div>
</div>
<div class="row">
  <div class="col-md-10 col-md-offset-1 Technologies">
     <a href="#!/tech"><h1>Technologies</h1></a>
  </div>
</div>
<div class="row">
  <div class="col-md-10 col-md-offset-1">
   <a href="#!/connect"><h1>Connect!</h1></a>
  </div>
</div>
