<div class="col-md-10 col-md-offset-1 followMe">
  <h1>Follow Me!</h1>
</div>
<div>
  <div class="col-xs-1 col-xs-offset-2 followMe">
    <a href="https://github.com/SorrelBrigman"><img src="images/GitHub.png" alt="github logo"></a>
  </div>
<!--                <div class="col-xs-1 col-xs-offset-2 followMe">
    <a href="https://twitter.com/recordingsorrel"><img src="images/Twitter.png" alt="twitter logo"></a>
  </div> -->
  <div class="col-xs-1 col-xs-offset-2 followMe">
    <a href="https://www.linkedin.com/in/sorrel-brigman"><img src="images/linkedInEdit.png" alt="linkedIn logo"></a>
  </div>
