
<div class="row About">
  <div class="col-md-10 col-md-offset-1">
      <a href="#!/about"><h1>About</h1></a>
  </div>
</div>
<div class="row">
  <div class="col-md-10 col-md-offset-1 Projects">
     <a href="#!/projects"><h1>Projects</h1></a>
  </div>
</div>
<div class="row">
  <div class="col-md-10 col-md-offset-1 Technologies">
     <a href="#!/tech"><h1>Technologies</h1></a>
  </div>
</div>
<div class="row">
  <div class="col-md-10 col-md-offset-1">
   <a href="#!/"><h1>Connect!</h1></a>
  <div>
  <div class="col-xs-1 col-xs-offset-2 followMe">
    <a target="_blank" href="https://github.com/SorrelBrigman"><img src="images/GitHub.png" alt="github logo"></a>
  </div>
               <div class="col-xs-1 col-xs-offset-2 followMe">
    <a href="mailto:Sorrel.k@gmail.com"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></a>
  </div>
  <div class="col-xs-1 col-xs-offset-2 followMe">
    <a target="_blank" href="https://www.linkedin.com/in/sorrel-brigman"><img src="images/linkedInEdit.png" alt="linkedIn logo"></a>
  </div>

</div>
