<div class="row About">
  <div class="col-md-10 col-md-offset-1">
      <a href="#!/about"><h1>About</h1></a>
  </div>
</div>

<div class="row">
  <div class="col-md-10 col-md-offset-1 Projects">
     <a href="#!/projects"><h1>Projects</h1></a>
  </div>
</div>


<div class="row">
  <div class="col-md-10 col-md-offset-1 Technologies">
     <a href="#!/tech"><h1>Technologies</h1></a>
  </div>
</div>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <a href="#!/connect"><h1>Connect!</h1></a>
  </div>
</div>
