
<div class="row About">
  <div class="col-md-10 col-md-offset-1">
      <a href="#!/about"><h1>About</h1></a>
  </div>
</div>
<div class="row">
  <div class="col-md-10 col-md-offset-1 Projects">
    <a href="#!/"><h1>Projects</h1></a>
    <div class="projectContent">


      <a href="#!/projects/largerlocal">
        <h3>Larger Local</h3>
      </a>
        <p>User currated site. A study in Amazon Product API, AngularJS and Materialize.</p>

      <a href="#!/projects/similartastes">
        <h3>Similar Tastes</h3>
      </a>
        <p>Predicts restaurant reviews and gives recommendations based on user tastes. Fun with Node.JS, webscraping, building an API and restaurants in Nashville.</p>




    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-10 col-md-offset-1 Technologies">
     <a href="#!/tech"><h1>Technologies</h1></a>
  </div>
</div>
<div class="row">
  <div class="col-md-10 col-md-offset-1">
   <a href="#!/connect"><h1>Connect!</h1></a>
  </div>
</div>
