
<div class="row About">
  <div class="col-md-10 col-md-offset-1">
      <a href="#!/about"><h1>About</h1></a>
  </div>
</div>
<div class="row">
  <div class="col-md-10 col-md-offset-1 Projects">
    <a href="#!/projects"><h1>Projects</h1></a>

  </div>
</div>
<div class="row">
  <div class="col-md-10 col-md-offset-1 Technologies">
     <a href="#!/"><h1>Technologies</h1></a>

      <div class="row">

        <div class="col-xs-6 col-md-3">
          <a href="https://angularjs.org/" class="thumbnail">
            <img src="images/Tech/angularjs.png" alt="angular Logo">
          </a>
        </div>
        <div class="col-xs-6 col-md-3">
          <a href="http://getbootstrap.com/" class="thumbnail">
            <img src="images/Tech/bootstrap.jpeg" alt="Bootstrap Logo">
          </a>
        </div>
        <div class="col-xs-6 col-md-3">
          <a href="http://getbootstrap.com/" class="thumbnail">
            <img src="images/Tech/chaijs-mocha.png" alt="chai and mocha Logo">
          </a>
        </div>
        <div class="col-xs-6 col-md-3">
          <a href="https://www.w3.org/Style/CSS/Overview.en.html" class="thumbnail">
            <img src="images/Tech/css3.svg" alt="CSS Logo">
          </a>
        </div>
        <div class="col-xs-6 col-md-3">
          <a href="https://expressjs.com/" class="thumbnail">
            <img src="images/Tech/express.png" alt="Express Logo">
          </a>
        </div>
        <div class="col-xs-6 col-md-3">
          <a href="https://firebase.google.com/" class="thumbnail">
            <img src="images/Tech/firebase.png" alt="Firebase Logo">
          </a>
        </div>
        <div class="col-xs-6 col-md-3">
          <a href="https://git-scm.com/" class="thumbnail">
            <img src="images/Tech/git_logo.png" alt="Git Logo">
          </a>
        </div>
        <div class="col-xs-6 col-md-3">
          <a href="https://github.com/" class="thumbnail">
            <img src="images/Tech/github.png" alt="gitHub Logo">
          </a>
        </div>
        <div class="col-xs-6 col-md-3">
          <a href="https://gruntjs.com/" class="thumbnail">
            <img src="images/Tech/grunt.png" alt="Grunt Logo">
          </a>
        </div>
        <div class="col-xs-6 col-md-3">
          <a href="https://www.w3.org/TR/html5/" class="thumbnail">
            <img src="images/Tech/HTML5_logo.png" alt="HTML5 Logo">
          </a>
        </div>
        <div class="col-xs-6 col-md-3">
          <a href="https://jquery.com/" class="thumbnail">
            <img src="images/Tech/jQuery.png" alt="jQuery Logo">
          </a>
        </div>
        <div class="col-xs-6 col-md-3">
          <a href="https://www.javascript.com/" class="thumbnail">
            <img src="images/Tech/js.png" alt="JavaScript Logo">
          </a>
        </div>
        <div class="col-xs-6 col-md-3">
          <a href="http://materializecss.com/" class="thumbnail">
            <img src="images/Tech/materialize.png" alt="Materialize Logo">
          </a>
        </div>
        <div class="col-xs-6 col-md-3">
          <a href="http://materializecss.com/" class="thumbnail">
            <img src="images/Tech/moqups.png" alt="Moqups Logo">
          </a>
        </div>
        <div class="col-xs-6 col-md-3">
          <a href="https://nodejs.org/en/" class="thumbnail">
            <img src="images/Tech/nodejs-logo.png" alt="Node.js Logo">
          </a>
        </div>
        <div class="col-xs-6 col-md-3">
          <a href="https://www.npmjs.com/" class="thumbnail">
            <img src="images/Tech/npm.png" alt="NPM Logo">
          </a>
        </div>
        <div class="col-xs-6 col-md-3">
          <a href="https://www.postgresql.org/" class="thumbnail">
            <img src="images/Tech/postgresql-logo.png" alt="Postgresql Logo">
          </a>
        </div>
        <div class="col-xs-6 col-md-3">
          <a href="http://sass-lang.com/" class="thumbnail">
            <img src="images/Tech/sass.png" alt="Sass Logo">
          </a>
        </div>
        <div class="col-xs-6 col-md-3">
          <a href="https://slack.com/" class="thumbnail">
            <img src="images/Tech/Slack.png" alt="Slack Logo">
          </a>
        </div>
        <div class="col-xs-6 col-md-3">
          <a href="https://www.sublimetext.com/" class="thumbnail">
            <img src="images/Tech/Sublime_Text_Logo.png" alt="Sublime Logo">
          </a>
        </div>
        <div class="col-xs-6 col-md-3">
          <a href="https://trello.com/" class="thumbnail">
            <img src="images/Tech/Trello_logo.png" alt="Trello Logo">
          </a>
        </div>



      </div>

  </div>
</div>
<div class="row">
  <div class="col-md-10 col-md-offset-1">
   <a href="#!/connect"><h1>Connect!</h1></a>
  </div>
</div>
