
<div class="row About">
  <div class="col-md-10 col-md-offset-1">
      <a href="#!/about"><h1>About</h1></a>
  </div>
</div>
<div class="row">
  <div class="col-md-10 col-md-offset-1 Projects">
    <a href="#!/projects"><h1>Projects</h1></a>

  </div>
</div>
<div class="row">
  <div class="col-md-10 col-md-offset-1 Technologies">
     <a href="#!/"><h1>Technologies</h1></a>

      <div class="row">

        <div class="col-xs-6 col-md-3">
          <a target="_blank" href="https://angularjs.org/" class="thumbnail">
            <img src="images/Tech/angularjs.png" alt="angular Logo" data-toggle="tooltip" data-placement="bottom" title="AngularJS">
          </a>
        </div>
        <div class="col-xs-6 col-md-3">
          <a target="_blank" href="http://getbootstrap.com/" class="thumbnail">
            <img src="images/Tech/bootstrap.jpeg" alt="Bootstrap Logo" data-toggle="tooltip" data-placement="bottom" title="Bootstrap">
          </a>
        </div>
        <div class="col-xs-6 col-md-3">
          <a target="_blank" href="https://mochajs.org/" class="thumbnail">
            <img src="images/Tech/chaijs-mocha.png" alt="chai and mocha Logo" data-toggle="tooltip" data-placement="bottom" title="Chai & Mocha">
          </a>
        </div>
        <div class="col-xs-6 col-md-3">
          <a target="_blank" href="https://www.w3.org/Style/CSS/Overview.en.html" class="thumbnail">
            <img src="images/Tech/css3.svg" alt="CSS Logo" data-toggle="tooltip" data-placement="bottom" title="CSS">
          </a>
        </div>
        <div class="col-xs-6 col-md-3">
          <a target="_blank" href="https://www.draw.io/" class="thumbnail">
            <img src="images/Tech/drawio.png" alt="Draw.io Logo" data-toggle="tooltip" data-placement="bottom" title="draw.io">
          </a>
        </div>
        <div class="col-xs-6 col-md-3">
          <a target="_blank" href="https://expressjs.com/" class="thumbnail">
            <img src="images/Tech/express.png" alt="Express Logo" data-toggle="tooltip" data-placement="bottom" title="express">
          </a>
        </div>
        <div class="col-xs-6 col-md-3">
          <a target="_blank" href="https://firebase.google.com/" class="thumbnail">
            <img src="images/Tech/firebase.png" alt="Firebase Logo" data-toggle="tooltip" data-placement="bottom" title="Firebase">
          </a>
        </div>
        <div class="col-xs-6 col-md-3">
          <a target="_blank" href="https://git-scm.com/" class="thumbnail">
            <img src="images/Tech/git_logo.png" alt="Git Logo" data-toggle="tooltip" data-placement="bottom" title="git">
          </a>
        </div>
        <div class="col-xs-6 col-md-3">
          <a target="_blank" href="https://github.com/" class="thumbnail">
            <img src="images/Tech/github.png" alt="gitHub Logo" data-toggle="tooltip" data-placement="bottom" title="gitHub">
          </a>
        </div>
        <div class="col-xs-6 col-md-3">
          <a target="_blank" href="https://gruntjs.com/" class="thumbnail">
            <img src="images/Tech/grunt.png" alt="Grunt Logo" data-toggle="tooltip" data-placement="bottom" title="Grunt">
          </a>
        </div>
        <div class="col-xs-6 col-md-3">
          <a target="_blank" href="https://www.w3.org/TR/html5/" class="thumbnail">
            <img src="images/Tech/HTML5_logo.png" alt="HTML5 Logo" data-toggle="tooltip" data-placement="bottom" title="HTML5">
          </a>
        </div>
        <div class="col-xs-6 col-md-3">
          <a target="_blank" href="https://jquery.com/" class="thumbnail">
            <img src="images/Tech/jquery.png" alt="jQuery Logo" data-toggle="tooltip" data-placement="bottom" title="jQuery">
          </a>
        </div>
        <div class="col-xs-6 col-md-3">
          <a target="_blank" href="https://www.javascript.com/" class="thumbnail">
            <img src="images/Tech/js.png" alt="JavaScript Logo" data-toggle="tooltip" data-placement="bottom" title="JavaScript">
          </a>
        </div>
        <div class="col-xs-6 col-md-3">
          <a target="_blank" href="http://materializecss.com/" class="thumbnail">
            <img src="images/Tech/materialize.png" alt="Materialize Logo"data-toggle="tooltip" data-placement="bottom" title="Materialize">
          </a>
        </div>
        <div class="col-xs-6 col-md-3">
          <a target="_blank" href="https://moqups.com/" class="thumbnail">
            <img src="images/Tech/moqups.png" alt="Moqups Logo" data-toggle="tooltip" data-placement="bottom" title="Moqups">
          </a>
        </div>
        <div class="col-xs-6 col-md-3">
          <a target="_blank" href="https://nodejs.org/en/" class="thumbnail">
            <img src="images/Tech/nodejs-logo.png" alt="Node.js Logo" data-toggle="tooltip" data-placement="bottom" title="Node.js">
          </a>
        </div>
        <div class="col-xs-6 col-md-3">
          <a target="_blank" href="https://www.npmjs.com/" class="thumbnail">
            <img src="images/Tech/npm.png" alt="NPM Logo" data-toggle="tooltip" data-placement="bottom" title="NPM">
          </a>
        </div>
        <div class="col-xs-6 col-md-3">
          <a target="_blank" href="https://www.postgresql.org/" class="thumbnail">
            <img src="images/Tech/postgresql-logo.png" alt="Postgresql Logo" data-toggle="tooltip" data-placement="bottom" title="Postgresql">
          </a>
        </div>
        <div class="col-xs-6 col-md-3">
          <a target="_blank" href="http://sass-lang.com/" class="thumbnail">
            <img src="images/Tech/sass.png" alt="Sass Logo" data-toggle="tooltip" data-placement="bottom" title="SASS">
          </a>
        </div>
        <div class="col-xs-6 col-md-3">
          <a target="_blank" href="https://slack.com/" class="thumbnail">
            <img src="images/Tech/Slack.png" alt="Slack Logo" data-toggle="tooltip" data-placement="bottom" title="Slack">
          </a>
        </div>
        <div class="col-xs-6 col-md-3">
          <a target="_blank" href="https://www.sublimetext.com/" class="thumbnail">
            <img src="images/Tech/Sublime_Text_Logo.png" alt="Sublime Logo" data-toggle="tooltip" data-placement="bottom" title="Sublime">
          </a>
        </div>
        <div class="col-xs-6 col-md-3">
          <a target="_blank" href="https://trello.com/" class="thumbnail">
            <img src="images/Tech/Trello_logo.png" alt="Trello Logo" data-toggle="tooltip" data-placement="bottom" title="Trello">
          </a>
        </div>



      </div>

  </div>
</div>
<div class="row">
  <div class="col-md-10 col-md-offset-1">
   <a href="#!/connect"><h1>Connect!</h1></a>
  </div>
</div>
