/*****************************************************
Page Stylings
*****************************************************/
.body {
	color: #4d3e4d;
}


.background {
	background-color: #4d3e4d;
}

.page-wrapper {
	background-color: #D9D3BD;
}

.mainImage {
	background-color: #AB94AB;
}

.prismaPhoto {
	opacity: .4;
}

.titleBlock {
	background-color: #728B91;
}

.titleBlock h1 {
  color: #d9d3bd;
}

.titleBlock h4 {
	color: #4d3d4d;
}

.button button {
	background-color: #728B91;
	color: #d9d3bD;
	border: 1px solid #4d3e4d;
}

/*****************************************************
Layout Stylings
*****************************************************/

.background {
	padding-top: 2em;
	padding-right: 0;
	padding-left: 3em;
	padding-bottom: 4em;
}

.page-wrapper {
	padding-top: 2em;
	padding-right: 4em;
	padding-left: 3em;
	padding-bottom: 4em;
}
.titleBlock {
	display: inline-block;
	margin-top: 5em;
	margin-bottom: -10em;
	float: left;


}



.titleBlock h4 {
	text-align: center;
	margin-top: -0.5em;
}

.Mainimage {
	margin-top: 0;
	padding: 0;

}

.image {
	margin-top: -2em;
	padding-top: 0;
}




